.benefits {
    position: relative;
}

.benefit {
    margin-left: 10px;
    width: 350px;
    height: 52px;
    display: flex;
    font-size: 12px;
    position: absolute;
    top: 75px;
    left: 20px;
    color: white;
}

img {
    padding: 3px;
    border-radius: 4px;
}

.b2 {
    margin-left: 33%;
}

.b3 {
    margin-left: 66%;
}

.right {
    margin-left: 20px;
    line-height: 14px;
}

.left>img {
    background-color: white;
}