.pricing-container {
  display: flex;
  justify-content: space-around;
  background-color: rgb(155, 183, 234);
}

.pricing-card {
  width: 320px;
  margin-bottom: 50px;
  margin-top: 50px;
  padding-bottom: 20px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

li {
  font-size: 14px;
}

.c2>.header {
  background-color: #6595CF;
  border-radius: 3px;
}


.c1>.header {
  background-color: #dedede;
}

.c3>.header {
  background-color: #dedede;
}